doctype html
html
    head
        title student Information
    body
        a(href="/register_student") Register Student
        br
        a(href="/register_teacher") Register Teacher
        br
        a(href="/update_student_info/" + student._id) Edit student information
        br
        ul
            li UPI: #{student.upi}
            li Surname: #{student.surname}
            li First name: #{student.first_name}
            -if(student.second_name){
            li Second name: #{student.second_name}
            -}
            li Date of birth: #{student.birthdate.toDateString()}
            li Gender: #{student.gender}
            li Current school: #{student.transfers.current_school}
            li Transfers: #{student.transfers.previous_school}
            li Performance: #{student.performance}
